#filter-bar {
    #sort {
        #sort_icon {
            transition: .3s;
        }
    }
}
#filter {
    // height: 100vh !important;
    min-height: 50vh;
    max-height: 100vh !important;
    #price-filter {
        .MuiSlider-root {
            color: black !important;
            height: 1px !important;
            .MuiSlider-thumb {
                width: 15px;
                height: 15px;
            }
        }
    }
}