.single-product {
    transition: 0.2s;
}

.product-details {
    .options.selected {
        background-color: black !important;
        color: white !important
    }
    #image-gallery {
        .image-gallery-main {
            &:hover {
                .arrow-next {
                    display: block;
                }
            }
            .arrow-next {
                transition: .2s;
                display: none;
            }
        }
        .slick-arrow {
            display: none !important;
        }
    }
    #product-accordion {
        .MuiPaper-root {
            border-radius: 0 !important;
            background-color: unset !important;
            color: unset !important;
            .MuiAccordionSummary-root {
                border-bottom: black solid 1px;
            }
        }
    }
}

// For slider
.slick-slider {
    .slick-prev::before, .slick-next::before {
        color: black !important
    }
    .single-product__image-main {
        height: 50rem
    }
}

#magnifier {
    img {
        max-width: none !important;
    }
}