.single-product {
    transition: 0.2s;
}

.product-details {
    .add-to-cart {
        transition: 0.2s;
    }
    .add-to-cart.Mui-disabled { 
        color: white !important;
        background-color: gray;
    }
    .options {
        transition: 0.2s;
    }
    .options.selected {
        background-color: black !important;
        color: white !important
    }
    .options.color-selected {
        transform: scale(1.15);
    }
    #image-gallery {

        @media (min-width: 768px) {
            .image-collections {
                height: 30rem
            }
        }
        @media (min-width: 1280px) {
            .image-collections {
                height: 50rem
            }
        }
        .image-container {
            .wishlist-button {
                opacity: 0;
                transition: 0.2s
            }
            &:hover {
                .wishlist-button {
                    opacity: 1;
                }
                .product-tag {
                    opacity: 0;
                }
            }
            .image-gallery-main {
                &:hover {
                    .arrow-next {
                        display: block;
                    }
                }
                .arrow-next {
                    transition: .2s;
                    display: none;
                }
            }
            .slick-arrow {
                display: none !important;
            }
        }
        
        .tag-container {
            .product-tag {
                opacity: 1;
                transition: 0.2s;
            }
        }
    }
    #product-accordion {
        .MuiPaper-root {
            border-radius: 0 !important;
            background-color: unset !important;
            color: unset !important;
            .MuiAccordionSummary-root {
                border-bottom: black solid 1px;
            }
        }
    }
}

// For slider
.slick-slider {
    .slick-prev::before, .slick-next::before {
        color: black !important
    }
    .single-product__image-main {
        height: 25rem
    }
    .slick-dots {
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        li {
            display: block;
        }
    }
    @media (min-width: 768px) {
        .single-product__image-main {
            height: 30rem
        }
    }
    @media (min-width: 1280px) {
        .single-product__image-main {
            height: 50rem
        }
    }
}

#magnifier {
    img {
        max-width: none !important;
    }
}

#filter-drawer {
    .MuiAccordionSummary-root::before, .MuiPaper-root::before {
        display: none;
    }
}

#reviews {
    .slick-list {
        margin: 0 -5px
    }
    .slick-slide>div {padding: 0 5px;}
}