#blog {
    #blog-selector {

        .blog-navigator {
            p {
                color: #999999;

                &:hover {
                    color: white !important;
                }
            }

            &.selected {
                background-color: white;

                p {
                    color: black;

                    &:hover {
                        color: black !important;
                    }
                }
            }
        }
    }

    #blog-search__desktop {
        .MuiFormControl-root {
            .MuiInputBase-root {
                color: white;

                &::before {
                    display: none !important;
                }

                &::after {
                    border-bottom: none !important;
                }

                .MuiInputBase-input {}
            }
        }
    }
}

@include tablet {
    #blog {
        #blog-selector {
            background-color: #2d2d2d;
        }
    }
}