#shop-container {
    .single-product {
        .image-container {
            span {
                border-top-right-radius: 0.375rem;
            }
        }
        .wishlist-button {
            opacity: 0;
            transition: .2s
        }
        &:hover {
            .wishlist-button {
                opacity: 1;
            }
        }
    }   
}